<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&amp;;700display=swap" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>R0bert.code</title>
</head>
<body>
    <div class="background-grid">
        <div class="bg-1">
        </div>
        <div class="grid-container">
            <header class="main-header-post">
                {% if user.is_authenticated %}
                    {% if user.image %}
                    <img class="post-img" src="/media/{{user.image}}"></a>
                    {% else %}
                    <img class="post-img" src="{% static 'images/default_user.jpg' %}">
                    {% endif %}
                <h3 style="margin-left: 5px;">{{ user }}</h3>
                <div class="user-content" style="width: 100%;">
                    <div style="display: flex; flex-direction: column; justify-content: space-around;">
                        <a class="nav-link" href="{% url 'blog:post_list_by_author' user.id %}">My posts</a>
                        <a href="{% url 'blog:post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">New Post</span></a>
                        <a class="nav-link" href="{% url 'account_logout' %}">Sair</a>
                    </div>
                </div>
                {% else %}
                    <img class="post-img" src="{% static 'images/default_user.jpg' %}">
                    <a class="nav-link" href="{% url 'account_login' %}">Entrar</a>
                    <a class="nav-link" href="{% url 'account_signup' %}">Cadastro</a>
                {% endif %}
            </header>
            <aside class="main-aside-post">
                <div class="post-search">
                    <input type="text" id="txtBusca" onkeyup="" placeholder="Buscar..."/>
                </div>
                {% block resumecontent %}
                {% endblock %}
            </aside>
            <div class="main-post-title">{% block fullcontenttop %}{% endblock %}</div>
            <main class="main-post">
                {% block fullcontent %}
                {% endblock %}
            </main>
        </div>
        <div class="bg-2"></div>
    </div>
    <script src="https://kit.fontawesome.com/51f7ea6787.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/blog.js' %}"></script>
</body>
</html>