{% extends 'blog/base.html' %}

{% load static %}

{% block resumecontent %}
    {% for post in posts %}
        <div class="post-resume">
            <div class="post-author-img">
                {% if post.author.image %}
                <a href="{{post.get_author_absolute_url}}"><img class="post-img" src="/media/{{post.author.image}}"></a>
                {% else %}
                <a href="{{post.get_author_absolute_url}}"><img class="post-img" src="{% static 'images/default_user.jpg' %}"></a>
                {% endif %}
            </div>
            <div class="post-resume-content">
                <div class="resume-content">
                    <h2><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h2>
                    <p> {{ post.text|linebreaksbr| truncatewords:5 }}</p>
                </div>
                <div class="date">
                    <p>{{ post.get_pub_date_format }}</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block fullcontenttop %}
    <div class="title-date">
        <h2>{{ post.title }}</h2>
        {% if post.published_date %}
            <p>published: {{ post.published_date }} by {{ post.author }}</p>
        {% endif %}
    </div>
    <div class="edit">

        {% if user.is_staff or user.is_authenticated and post.author.id == user.id %}
            <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk%}"><span class="glyphicon glyphicon-pencil">Clica aqui pra editar</span></a>
        {% endif %}
    </div>
{% endblock %}

{% block fullcontent %}
    <div class="post-full">
        <div class="post-full-body">
            <p>{{ post.text|linebreaksbr}}</p>
        </div>
    </div>
{% endblock %}